.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__bannerContainer {
    width: 100%;
    overflow: hidden;
}

.home__image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.fade {
    animation: fadeEffect 3s infinite;
}

@keyframes fadeEffect {
    0% {
        opacity: 0.7;
    }

    /* Increased opacity */
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }

    /* Increased opacity */
}